@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box; /*o preenchimento e a borda serão incluídos na largura e na altura*/
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

button{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #264653;
    color: white;
}

header{        
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('img/header.jpg');
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav li{
    margin: 0 15px;
    font-weight: bold;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}

/*Sessão Pacotes*/

.pacotes{
    background-color: #e0e0e0;  
    padding: 15px;       
}

.pacotes-title{
    width: 100%;
    margin: 20px auto;    
    text-align: center;
}
.card{
    width: 250px;
    height: 350px;
    margin: 25px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 24px 0px;
    position: relative;
}

.card-img{
    width: 100%;
    border-radius: 24px 0 0 0;
}

.pacotes-cards{
    display: flex;
}

.card-tag p {
    margin: 0;
    font-size: .8rem;
    color: white;
    font-weight: bold;
}

.card-tag-top{
    position: absolute;
    top: 15px;
    right: 0;
    background-color: #F19B39;   
    border-radius: 8px 0 0 8px;  
    padding: 5px 10px;  
}

.card-tag-bottom{
    position: absolute;
    top: 160px;
    left: 0;
    background-color: #1D61DD;   
    border-radius: 0px 8px 8px 0;  
    padding: 5px 10px;  
}

.card-content{
    padding: 0 15px;
}

.card-content h1{
    font-size: 1rem;
}

.card-content ul{
    list-style: none;
    flex-direction: column;    
    padding: 0;
}

.card-content ul li{
    font-size: .7em;
    display: flex;
    align-items: center;
    margin: 12px 0;
    color: rgb(87, 86, 86);
    font-weight: bold;
}

.card-content li svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/*RESPONSIVIDADE*/

@media(max-width:767px) {

}

@media(max-width:480px) {
    body{
        height: calc(100vh - 55px);
    }   

    header nav p{
        width: 100%;
        text-align: center;
    }

    header nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;        
        height: 55px;        
        display: flex;
        justify-content: space-between;
        align-items: center;  
        background: #264653;   
        color: white;  
        }
    }


/*@media(min-width:768px) and (max-width:979px) {}

@media(min-width:1200px) {}*/